body{
    text-align: center;
}

#instructions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#controls, #parameters{
    display: flex;
    justify-content: center;
    gap: 10px;
}

#controls{
    margin-bottom: 10px;
}
#canvas-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#canvas{
    display: none;
    border: 1px solid black;
    width: 800px;
    height: 800px;
    flex-wrap: wrap;
}

.cell{
    flex: 1;
    border: 1px solid black;
    box-sizing: border-box;
}

