body{
    text-align: center;
}

#instructions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#controls, #parameters{
    display: flex;
    justify-content: center;
    gap: 10px;
}

#controls{
    margin-bottom: 10px;
}
#canvas-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#canvas{
    display: none;
    border: 1px solid black;
    width: 800px;
    height: 800px;
    flex-direction: column;
    border-collapse: collapse;
}

.canvas-row{
    flex: 1;
    display: flex;
    margin: 0;
    padding: 0;
    /* width: 100%; */
}

.canvas-cell{
    flex: 1;
    margin: 0;
    border: 0;
    border: 1px solid black;
    box-sizing: border-box;
}

